doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='linkgo.io web')
    meta(name='author', content='linkgo.io')
    title linkgo.io

    // link(rel='stylesheet', href='/stylesheets/bootstrap.css', type='text/css')

    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
    //link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous")


    // <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    // <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    link(href='http://fonts.useso.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet', type='text/css')
    link(href='http://fonts.useso.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic', rel='stylesheet', type='text/css')

    // <link rel="stylesheet" href="../static/css/animate.min.css" type="text/css" >
    link(rel='stylesheet', href='/stylesheets/linkgo.css')

    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
     // script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
     // script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')


  body#page-top
    nav#mainNav.navbar.navbar-default.navbar-linkgo.navbar-fixed-top
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.page-scroll(href='#page-top')= __("brand")

        .collapse.navbar-collapse#bs-example-navbar-collapse-1
          ul.nav.navbar-nav.navbar-right
            li
              a(href="/blog/archives")= __("home.blog")

    header
      .header-content
        .header-content-inner
          h1= __("home.slogan")
          hr
          p= __("home.description")
          a.btn.btn-primary.btn-xl(href='#about')= __("home.find_out_more")

    section#portfolio.no-padding
      .container-fluid
        .row.no-gutter
          .col-lg-6.col-sm-6
            a.portfolio-box(href='#')
              img.img-responsive(src='images/portfolio/iot3-650-350.png', alt='')
              .portfolio-box-caption
                .portfolio-box-caption-content
                  .project-category.text-faded
                    =__("home.category")
                  .project-name
                    =__("home.project_name_2")
          .col-lg-6.col-sm-6
            a.portfolio-box(href='#')
              img.img-responsive(src='images/portfolio/iot2-650-350.png', alt='')
              .portfolio-box-caption
                .portfolio-box-caption-content
                  .project-category.text-faded
                    =__("home.category")
                  .project-name
                    =__("home.project_name_3")

    section#contact
      .container
        .row
          .col-lg-8.col-lg-offset-2.text-center
            a.btn.btn-primary.btn-l= __("home.email_us")

    script(src='/javascripts/jquery-1.12.3.js')
    script(src='/javascripts/jquery.fittext.js')
    //script(src='/javascripts/bootstrap.js')
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
    script(src='/javascripts/linkgo.js')
